doctype html
html(lang="en")
	head
		title
			| notes
		link(rel='stylesheet', type='text/css', href='/css/bootstrap.min.css')
		link(rel='stylesheet', type='text/css', href='/css/app.css')
		script(type='text/javascript', src='/js/jquery-1.12.4.min.js')
		script(type='text/javascript', src='/js/bootstrap.min.js')
		script(type='text/javascript', src='/js/react.min.js')
		script(type='text/javascript', src='/js/react-dom.min.js')
		script(type='text/javascript', src='/js/browser.min.js')
	body
		include ./header.jade
		.container
			block content